{% extends "base.html" %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Удалить пользователя</title>
    </head>
    <body>
        <h1>Удалить пользователя: {{ user.username }}</h1>
        <form method="post">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить "{{ user.username }}"?</p>
            <button type="submit">Удалить</button>
        </form>
    </body>
    </html>
    {% endblock %}